/*
This style sheet is configured for a "desktop" browser view, ideally having a
screen width greater than 639 px. */

html {
  min-width: 640px;
  max-width: 1280px;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: gainsboro;
}

h3 {
  margin: 1.17rem 0; /*
  This value is the h3 default margin recommended by W3C. Also, see comment in
  .section_form_margin_top. */
}

header {
  border-bottom: 2px solid black;
}

main {
  display: flex;
  justify-content: flex-start;
}

/* Classes specific to contents.html, which has URL .../topics/ */
.topics {
  border-right: 2px solid black;
  padding-right: 8px;
  width: 198px; /*
  Width of topics section is set to a constant. It is set to one-third of the
  body content-width:
    width = floor( (html min-width - default body margin)/3 )
            - border-right - topics padding-right
          = 208 - 2 - 8  px
  Box-sizing is the default content-box, thus, border and padding is subtracted
  in this calculation. */
}

.latest_sections {
  padding-left: 8px;
  flex: auto;
}

/* Classes specific to topicContents.html, which has URL .../topics/#/ */
.flash_ul {
  background-color: black; /* banner color */
  margin: 0; /* remove default: 16px 0; */
  padding: 8px 0; /* banner spacing, replace default: 0 0 0 40px; */
}

.flash_li {
  color: gainsboro;
  list-style-type: none; /* remove default: disc; */
  text-align: center;
}

.sections {
  border-right: 2px solid black;
  padding-right: 8px;
  width: 198px;
}

/* other classes */
.indent_1 {
  padding-left: 40px;
  /* This value is the ol and ul default padding-left recommended by W3C. */
}

.section_NE_h1 { /* NE stands for new or edit form page. */
  font-size: 1.5rem; /*
  This value is the h2 default font-size recommended by W3C. This is a way to
  have a smaller main heading and comply with accessibility standards. */
}

.section_form_margin_top {
  margin-top: 1.17rem; /*
  This value is employed to match h3 margin-top positioned below the cancel
  button button in the delete section form page. Use of rem units ensures the
  intended outcome on Chrome Firefox and Edge. */
}

/*
Reference

W3C recommended html default CSS values
  https://www.w3schools.com/cssref/css_default_values.asp */
