body {
  font-family: Roboto, Arial, sans-serif;
  background-color: gainsboro;
}

.indent_1 { /* This spacing is based on the standard list indent size. */
  margin-left: 40px;
}

.section_NE_h1 { /* NE stands for new or edit form page. */
  font-size: 1.5em;

}

.section_form_margin_top {
  margin-top: 1.2em;
}
