<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <title>Subject Notes - Topics</title>
  </head>
  <body>
    <header>
      <h1>
        <mark>{{subject}} Notes</mark>
      </h1>
      <div>
    {% if signedIn %}
        <p>Signed in as<br>{{uname}}</p>
        <form action="{{url_for('about')}}">
          <input type="submit" value="About">
        </form>
        <form action="{{url_for('signOut')}}">
          <input type="submit" value="Sign Out">
        </form>
    {% else %}
        <form action="{{url_for('about')}}">
          <input type="submit" value="About">
        </form>
        <form action="{{url_for('signInDesk')}}">
          <input type="submit" value="Sign In">
        </form>
    {% endif %}
      </div>
    </header>
    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash_ul">
      {% for message in messages %}
        <li class="flash_li">{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>
    <main class="pane_row">
      <nav class="nav_pane pane_padding">
        <h2>Topics</h2>
      {% for t in topics %}
        <h3 class="hover">
          <a href="{{url_for('topicContents', topic_id=t.id)}}">{{t.title}}</a>
        </h3>
      {% endfor %}
      </nav>
      <section class="content_pane pane_padding">
        <h2>Latest {{latest_sections|length}} Sections Added or Updated</h2>
      {% for s in latest_sections %}
        <h3><span class="hover">
          <a href="{{url_for('viewSection', topic_id=s[0].topic_id,
                             section_id=s[0].id)}}">
            {{s[0].title}} ({{s[1]}})
          </a><!-- Section Name (Topic Name) -->
        </span></h3>
      {% endfor %}
      </section>
    </main>
  </body>
</html>
