<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <title>Subject Notes - Topics</title>
  </head>
  <body>
    <header>
      <h1>{{subject}} Notes</h1>
    </header>
    <main>
      <section class="topics">
        <h2>Topics</h2>
      {% for t in topics %}
        <h3>{{t.name}}</h3>
      {% endfor %}
      </section>
      <section class="latest_sections">
        <h2>Latest Sections</h2>
      </section>
    </main>
  </body>
</html>
