<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <title>Subject Notes - Edit</title>
  </head>
  <body>
    <header>
      <h1>{{subject}} Notes</h1>
    </header>
    <main class="pane_padding">
      <h2>Edit Section for {{topic.name}}</h2>
      <form action="{{url_for('viewSection', topic_id=topic.id,
                              section_id=section.id)}}">
        <input type="submit" value="cancel edit">
      </form>
      <form id="edit" class="h3_margin" method="POST"
          action="{{url_for('editSection', topic_id=topic.id,
                            section_id=section.id)}}"> <!--
Style class h3_margin is employed to match h3 margin-top positioned below the
cancel button button in the delete section form page. Otherwise, there is no
spacing between the surrounding buttons and the form. -->
        <label for="nsName">Name</label><br>
        <input id="nsName" type="text" name="name" size="50" autofocus required
          minlength="1" maxlength="50" placeholder="{{section.name}}"
          class="body_font_fam h3_font_size"><br><br>
        <label for="nsNotes">Notes</label><br>
        <textarea id="nsNotes" name="notes" rows="11"
          minlength="6" maxlength="800" placeholder="{{section.notes}}"
          class="p_font text_area"></textarea><!--
A maxlength of 800 is set for development. maxlength would be set to a higher
number for exhibition or publication.-->
      </form>
      <div class="row_2buttons">
        <button type="submit" form="edit">submit edit</button>
        <form action="{{url_for('deleteSection', topic_id=topic.id,
                        section_id=section.id)}}" class="delete_section_button">
        <input type="submit" value="delete section">
      </form>
      </div>

    </main>
  </body>
</html>
