<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <title>Subject Notes - Topic Sections</title>
  </head>
  <body>
    <h1>{{subject}}</h1>
    <h2>{{topic.name}}</h2>
  {% for s in sections %}
    <h3 class="indent_1">{{s.name}}</h3>
  {% endfor %}
    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
      {% for message in messages %}
        <li style="color: green"><strong>{{message}}</strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>
  </body>
</html>
