<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300">
    <title>Subject Notes - View Section</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="{{url_for('contents')}}">{{subject}} Notes</a>
      </h1>
    {% if signedIn %}
      <div>
        <p>Signed in as<br>{{uname}}</p>
        <form action="{{url_for('signOut')}}">
          <input type="submit" value="Sign Out">
        </form>
      </div>
    {% else %}
      <form action="{{url_for('signInDesk')}}">
        <input type="submit" value="Sign In">
      </form>
    {% endif %}
    </header>
    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash_ul">
      {% for message in messages %}
        <li class="flash_li">{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>
    <main class="pane_row">
      <nav class="nav_pane pane_padding">
        <h2>Sections of Topic<br>
          <a href="{{url_for('topicContents', topic_id=topic.id)}}">
            {{topic.name}}
          </a>
        </h2>
      {% for index in range(1, sections|length) %}
        {% if sections[index].id == section.id %}
        <h3 class="selected">{{section.name}}</h3>
        {% else %}
        <h3 class="hover">
          <a href="{{url_for('viewSection', topic_id=topic.id,
                             section_id=sections[index].id)}}">
            {{sections[index].name}}
          </a>
        </h3>
        {% endif %}
      {% endfor %}
      {% if signedIn and sections|length < maxNumSecs %}
        <form action="{{url_for('newSection', topic_id=topic.id)}}">
          <input type="submit" value="add section">
        </form>
      {% endif %}
      </nav>
      <section class="content_pane pane_padding">
        <h2>{{section.name}}</h2>
      {% if signedIn %}
        <div class="edit_button_div">
          <form action="{{url_for(
              'editSection', topic_id=topic.id, section_id=section.id)}}">
            <input type="submit" value="edit section">
          </form>
        </div>
      {% endif %}
      {% if section.notes == None or not section.notes
          or section.notes.isspace() %}
        <p>&#8212;This section has no notes.&#8212;</p>
      {% else %}
        <p>{{section.notes}}</p>
      {% endif %}
      </section>
    </main>
  </body>
</html>
