<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300">
    <title>Subject Notes - Topic Sections</title>
  </head>
  <body>
    <header>
      <h1><a href="{{url_for('contents')}}">{{subject}} Notes</a></h1>
    </header>
    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash_ul">
      {% for message in messages %}
        <li class="flash_li">{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>
    <main class="pane_row">
      <nav class="nav_pane pane_padding">
        <h2>Sections of Topic<br>
          <a href="{{url_for('topicContents', topic_id=topic.id)}}">
            {{topic.name}}
          </a>
        </h2>
      {% for s in sections %}
        {% if s.id == section.id %}
        <h3 class="selected">{{s.name}}</h3>
        {% else %}
        <h3 class="hover">
          <a href="{{url_for('viewSection', topic_id=topic.id,
                             section_id=s.id)}}">
            {{s.name}}
          </a>
        </h3>
        {% endif %}
      {% endfor %}
      </nav>
      <section class="content_pane pane_padding">
        <h2>{{section.name}}</h2>
      {% if section.notes == None %}
        <p>&#8212;This section has no notes.&#8212;</p>
      {% else %}
        <p>{{section.notes}}</p>
      {% endif %}
      </section>
    </main>
  </body>
</html>
