<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300">
    <title>Subject Notes - View Section</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="{{url_for('contents')}}">{{subject}} Notes</a>
      </h1>
      <div>
      {% if signedIn %}
        <p>Signed in as<br>{{uname}}</p>
        <a href="{{url_for('about')}}" class="link-button">About</a><div></div>
        <a href="{{url_for('signOut')}}" class="link-button">Sign Out</a>
      {% else %}
        <a href="{{url_for('about')}}" class="link-button">About</a><div></div>
        <a href="{{url_for('signInDesk')}}" class="link-button">Sign In</a>
      {% endif %}
      </div>
    </header>
    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash_ul">
      {% for message in messages %}
        <li class="flash_li">{{message}}</li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>
    <main class="pane_row">
      <nav class="nav_pane pane_padding">
        <h2>Sections of Topic<br>
          <a href="{{url_for('topicContents', topic_id=topic.id)}}">
            {{topic.title}}
          </a>
        </h2>
      {% for index in range(1, sections|length) %}
        {% if sections[index].id == section.id %}
        <h3><span class="selected">{{section.title}}</span></h3>
        {% else %}
        <h3>
          <a href="{{url_for('viewSection', topic_id=topic.id,
                             section_id=sections[index].id)}}">
            {{sections[index].title}}
          </a>
        </h3>
        {% endif %}
      {% endfor %}
      {% if signedIn and sections|length < maxNumSecs %}
        <a href="{{url_for('newSection', topic_id=topic.id)}}"
          class="link-button">add section</a>
      {% endif %}
      </nav>
      <section class="content_pane pane_padding">
        <h2>{{section.title}}</h2>
      {% if signedIn %}
        <div class="section_heading_button_div">
          <a href="{{url_for('editSection', topic_id=topic.id,
            section_id=section.id)}}" class="link-button">edit section</a>
        </div>
      {% endif %}
      {% if section.notes == None or not section.notes
          or section.notes.isspace() %}
        <p>&#8212;This section has no notes.&#8212;</p>
      {% else %}
        <p class="section_notes">{{section.notes}}</p>
      {% endif %}
      {% if signedIn %}
        <footer>
          <p>Initialized by {{section.initiator}} at
            {{section.utci.strftime('%-I:%M:%S %p')}} UTC on
            {{section.utci.strftime('%d %b %Y')}}</p>
        {% if section.editor is not none %}
          <p>Last edited by {{section.editor}} at
            {{section.utce.strftime('%-I:%M:%S %p')}} UTC on
            {{section.utce.strftime('%d %b %Y')}}</p>
        {% endif %}
          <div class="section_footer_button_div">
            <a href="{{url_for('sectionJSON', topic_id=topic.id,
              section_id=section.id)}}" class="link-button">section json</a>
            <a href="{{url_for('deleteSection', topic_id=topic.id,
              section_id=section.id)}}" class="link-button">delete section</a>
          </div>
        </footer>
      {% endif %}
      </section>
    </main>
  </body>
</html>
